<div class="d-lg-none d-flex flex-column mx-1 mt-4">
  <mat-form-field class="flex-grow-1 mx-2">
    <mat-select placeholder="{{ 'Dados' | translate }}" [(value)]="currentMenuVertical">
      <ng-container *ngFor="let item of menuVertical">
        <mat-option [value]="item">{{item | translate}}</mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
</div>

<div class="row mx-0 ml-lg-4">
  <div class="d-none d-lg-block col-2 list-group border-right px-2 my-4 ">
    <ng-container *ngFor="let menu of menuVertical">
      <div class=" list-group-item list-group-item-action click-pointer" [class.active]="menu === currentMenuVertical"
        [class.text-white]="menu === currentMenuVertical" (click)="onSelectMenuVertical(menu)">
        {{ menu | translate }}
      </div>
    </ng-container>
  </div>

  <form class="col mx-0 my-4 mx-lg-4" [formGroup]="formulario" autocomplete="off">

    <app-ficha-cliente-gerais [hidden]="currentMenuVertical !== 'Gerais'" [idCliente]="idCliente"
      [formulario]="formulario.get('gerais')">
    </app-ficha-cliente-gerais>

    <!-- TODO: Exercício 2 -->
    <app-ficha-cliente-contactos [hidden]="currentMenuVertical !== 'Contactos'" [idCliente]="idCliente"
      [formulario]="formulario.get('contactos')">
    </app-ficha-cliente-contactos>

    <div class="mt-3 mt-sm-5 text-center col justify-content-center">
      <fieldset [disabled]="espera()">
        <button type=" button" class="m-2 col-* font-size-16" mat-flat-button color="primary" (click)="onGravar()"
          [disabled]="botaoGravarDisabled()">
          {{ 'Gravar' | translate }}
        </button>
        <button type="button" class="m-2 col-* font-size-16" mat-flat-button color="warn" (click)="onOpenModal()"
          *ngIf="idCliente !== 0">
          {{ 'Apagar' | translate }}
        </button>
        <button type="button" class="m-2 col-* font-size-16" mat-stroked-button color="primary" (click)="onVoltar()"
          *ngIf="idCliente === 0">
          {{ 'Cancelar' | translate }}
        </button>
      </fieldset>
    </div>
  </form>
</div>
<!--Tentei adicionar modal de confirmação de apagar cliente, mas ele aparece em sombra. Não consegui resolver-->
<button type="button" id='modal-button' [hidden]="true" class="btn btn-primary" data-toggle="modal"
  data-target="#deleteModal">
  Launch delete modal
</button>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalTitle">Delete Cliente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete client ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" (click)="onApagar()" class="btn btn-danger" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>